# Claude working files
.claude/
CLAUDE.md
project-template.md
project1/THSIE4B_G2_Revised Manuscript.txt
project2/inforsy_text.txt
project2/*.mp4
project3/capstone_text.txt
project3/LBOIE3E Final Presentation.pdf
